<!DOCTYPE html>
<html lang="en" ng-app="waCloudApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Advantech WebAccess Cloud</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@

        @Styles.Render("~/bundles/css/fontawesome")
        @Styles.Render("~/bundles/css/wafont")
        @Styles.Render("~/Content/css")


    </head>
<body class="layout-fixed" >
    
    <div ui-view="" data-autoscroll="false" class="wrapper">@RenderBody()</div>



    @Scripts.Render("~/bundles/angularLibs")
    @Scripts.Render("~/bundles/angularMVC")




</body>
</html>

